@using Microsoft.AspNetCore.Identity
@using System.Net
@model GameDetailViewModel

<h2 class="special">@Model.Game.Name</h2>
<div class="thumbnail col-sm-12">
    <img alt="@Model.Game.Name" src="@Model.Game.ImageURL">
    <div class="caption-full">
        <h3 class="special">
            <a href="#">@Model.Game.Name</a>
        </h3>
        <h3 class="special">@Model.Category.CategoryName</h3>
        <div class="row">
            <h4 class="special col-sm-5">@Model.Game.ShortDescription</h4>
            <h3 class="pull-right col-sm-5 special">Score: @Model.Game.Score</h3>
        </div>
        <p class="special">

            @Model.Game.LongDescription
        </p>
    </div>

</div>
<h3 class="special">Reviews for this game:</h3>

@foreach (IdentityUser user in Model.Users)
{
}
@foreach (var review in @Model.Game.GameReviews)
{
    <div class="special">@review.ApplicationUser</div>
    <div class="special">@WebUtility.HtmlDecode(review.Review) </div>
    <h3 class="special">Score:@review.ReviewScore</h3>
    <hr />
}

<form asp-controller="Home" asp-action="Details" method="post" class="form-horizontal" role="form">
    <h4 class="special">Write a review</h4>
    <hr />
    <input type="hidden" asp-for="@Model.Game.GameId" />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Review" class="col-md-2 control-label special"></label>
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Review, 15, 1, new { @class = "form-control" })
            <span asp-validation-for="Review" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ReviewScore" class="col-md-2 control-label special"></label>
        <div class="col-md-1">
            <input type="number" asp-for="ReviewScore" class="form-control" min="1" step="1" max="5" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Send review" />
        </div>
    </div>
</form>